<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
        <div class="linea1">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
        <div class="busq"><input type="text" placeholder="Realizar búsqueda" class="barra"><i class="fas fa-search"></i></div>
         
        </div>
        <div class="linea2">
        
        <p class="test"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        </div>
        <nav class="main-header-bottom">
            <ul class="left-navbar">
                <li class="lista"><a href="" >Ofertas</a></li>
                <li class="lista"><a href="" >Tiendas Oficiales</a></li>
                <li class="lista"><a href="" >Vender</a></li>
                <li class="lista"><a href="" >Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="lista"><a href="" >Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li class="lista"><a href="" >Ingresá</a><i class="fas fa-sign-in-alt"></i>  </li>
                
                <li class="lista"><a href="" >Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
        
    <form action="/crear-producto" method="POST" class="formulario">
        <div class="control-form">
            <label>Nombre del Producto</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>Precio del Producto</label>
            <input type="text" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-form">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        
        </div>
        <div class="control-form">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="ba">Buenos Aires</option>
                <option value="ro">Rosario</option>
                <option value="mza">Mendoza</option>
            </select>
        
        </div>
        <div class="control-form">
            <label>Descripción del proucto</label>
            <textarea name="descipcion" class="control"></textarea>
        </div>
        <div class="control-form">
            <label>Está en oferta</label>
            <input type="radio" name="enOferta">
        </div>
        <div class="control-form">
            <button type="reset" class="boton-form">Borrar</button>
            <button type="submit" class="boton-form">Guardar</button>
        </div>
                

    </form>

    </main>
    <footer>
        <div>
        <i class="fas fa-credit-card"></i>
        <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
        <i class="fas fa-gift"></i>
        <h4><strong>Envío gratis desde $2.500</strong></h4>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        <div>
        <i class="fas fa-user-shield"></i>
        <h4><strong>Seguridad de principio a fin</strong></h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p>
        </div>
    </footer>
</body>
</html>