<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
        <div class="linea1">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
            
        <div class="busq"><input type="text" placeholder="Realizar búsqueda" class="barra"><i class="fas fa-search"></i></div>
         
        </div>
        <div class="linea2">
        
        <p class="test"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        </div>
        <nav class="main-header-bottom">
            <ul class="left-navbar">
                <li class="lista"><a href="" >Ofertas</a></li>
                <li class="lista"><a href="" >Tiendas Oficiales</a></li>
                <li class="lista"><a href="" >Vender</a></li>
                <li class="lista"><a href="" >Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="lista"><a href="/register" >Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li class="lista"><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i>  </li>
                
                <li class="lista"><a href="" >Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="" class="banner">
            <h2 align= center>Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$6770</h5>
                <h4>40% OFF</h4>
                </div class="parent">
                <h3>Cafetera Moulinex</h3>
                </div>
            </article>
          
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$230.000</h5>
                <h4>20% OFF</h4>
                 </div>
                <h3>MacBook Pro 2019</h3>
                 </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$70.500</h5>
                <h4>10% OFF</h4>
                 </div>
                <h3>Samsung Galaxy S10</h3>
               </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$230.000</h5>
                <h4>20% OFF</h4>
                </div>
                <h3>MacBook Pro 2019</h3>
               </div>
            </article>
        </section>
        <h2 align= center>Sección de Ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$6770</h5>
                <h4>40% OFF</h4>
                </div>
                <h3>Cafetera Moulinex</h3>
                </div>
            </article>
          
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$230.000</h5>
                <h4>20% OFF</h4>
                </div>
                <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$70.500</h5>
                <h4>10% OFF</h4>
                </div>
                <h3>Samsung Galaxy S10</h3>
                 </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv" class="imagen">
                <div class="detalles">
                <i class="fas fa-truck"></i>
                <div class="alineacion">
                <h5>$230.000</h5>
                <h4>20% OFF</h4>
                </div>
                <h3>MacBook Pro 2019</h3>
                </div>
            </article>
        </section>
    
    </main>

    <footer>
        <div>
        <i class="fas fa-credit-card"></i>
        <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
        <i class="fas fa-gift"></i>
        <h4><strong>Envío gratis desde $2.500</strong></h4>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        <div>
        <i class="fas fa-user-shield"></i>
        <h4><strong>Seguridad de principio a fin</strong></h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p>
        </div>
    </footer>
    
</body>
</html>