*{
    /*border: 1px solid gray*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
background-color: #EAC926;
padding: 8px;
width: 100vw;

}

p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 10px    ;
}



h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: none;
    color:#666;
    
}
section {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}


.burger-menu {
    text-align: center;
    background-color: #03264C;
    width: 40px;
    border-radius: 5px;
    margin: 1px;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    

    
    
}

.barra {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    
    
    
   /* text-align: center;
    width: 200px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;*/
    
}


body {
    background-color: #ebebeb;
}
main {
   
    
    width: 90vw;
    
       margin: auto;
     
    
}

.detalles {
    background-color: white;
    position:relative;
    padding:20px;
    
}

article {
   
    border: 1px soid gray;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    padding: 15px;
}

.main-header-top {
       text-align: center;
       display: flex;
       flex-direction: column;
    }
.linea1  {
    display: flex;
    

}
.linea1 img {
    width: 50%;
    padding-right: 5px;
}
.linea1 div {
    width: 50%;
    padding-right: 5px;
    
}
.linea1 input {
    width: 100%;
}
.busq {
    display: flex;
    position: relative;
    
}
.linea1 div i {
    position: absolute;
    right: 10px;
    top: 35%;
    color:gray;
      

}

.linea2 {
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.linea2 img {
    width: 50%;
    padding-right: 5px;
}
.linea2 div {
    width: 50%;
    padding-right: 5px;
    font-size: 4px;
    
}
.linea2 p {
    font-size: 4vw;
    font-weight: bolder;
}

.imagen {
    width: 100%;
}



.main-header-bottom {
    display: none;
    
}
.main-header-bottom a {
    text-decoration: none;
    color: #222222;
}



.logo {
    width: 80%;
}

.left-navbar {
    display:flex;
    list-style: none;
    width: 50%;
    
}
.right-navbar {
    display:flex;
    
    list-style: none;
    width: 50%;
    
}

.lista {
    padding: 8px;
}


.fa-truck {
    color: #39b54a;
    border-radius: 100%;
    border: 1px solid #39b54a;
    padding: 5px;
    position: absolute;
    right:20px;
    top:-15px;
    
  
   

}
.alineacion {
    
    display: flex; 
}

/*.alineacion-precio {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    
}*/
h5 {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    width:30%;
    margin: auto;
    margin-right: 5px;
    
    
    }
h4{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    width:70%;
    color: #39b54a;
    margin: auto;
    }

    .banner {
        width: 100vw;
        text-align: center; 
        margin-left: -5vw;
    }

    footer  {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px  ;
        margin: auto;
        
    }

    footer div {
        padding-bottom: 10px;
        width: 90%;
        text-align: center;
        
    }
    footer i {
        color: #1259c3;
        margin-bottom: 10px;
        width: 2em;
    }
    footer p {
        
        padding: 5px;
        

    }
    footer h4 {
        color:black;
        font-weight: bold;
        padding-left: 5px;
        
        width: 100%;
        
        
    }

    .formulario {
        padding: 20px 15px;
    }
    .control-form {
        margin-bottom: 15px;

    }

    .control-form label {
        margin-bottom: 5px;
        font-style: italic;
        display: block;
    }
    .control {
        width: 100%;
        padding: 8px;
    }

    .boton-form {
        background-color:#39b54a ;
        border: none;
        font-size: 20px;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px 0px;

    }
    .form-registro {
        margin-top: 30px;
        background-color: lightgrey;
        padding: 8px;
        border-radius: 5px;

    }
    .form-registro label{
        display: block;
    }
    .form-registro input, select {
        width: 100%;
        margin: 5px 0px;
    }
    .form-registro input:focus {
        border: #EAC926 2px solid
    }

    .form-registro .radio {
        width: 20%;
        
    }

    
    
    
    header {
        width: 100vw;
    }
    
    @media (min-width: 361px){
        article {
            
            width: 50%;
        }

        .burger-menu {
                 display: none;
           
        }
       
        .main-header-bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 8px;
            font-size: 2vw;
            
            
        }
        .right-navbar {
            display: flex;
            justify-content: right;
            
        }
        .main-header-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            }

            .barra {
                height: 30%;
                margin: auto;
            }
            .linea1 div i {
                 top: 35%;
                 right: -25px;
                 background-color: lightgray;
                 color:black;
                 height: 30%;
                 border-radius: 5px;
                 text-align: center;
                 padding: 5px;                 
              }
              .linea2 p {
                  font-size: 100%;
                  
              }

              .linea1 img {
                  width: 40%;
              }
             
            h3 {
                display:none;
                        }
            article:hover  h3 {
                display: contents;
            }
            article:hover {
            
                    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
                
            }
            section article i {
                transition: 500ms;
            }
            section article i:hover {
                    transform: rotateZ(-90deg);
            }

            .form-registro {
                width: 90%;
                margin: 30px auto;
            }
            


            }
            
            
    

    @media (min-width: 769px) {
        article {
            
            width: 25%;
            
        }
        footer {
            flex-direction: row;

        }
        footer i {
          
            font-size: 40px;
        }
        footer i:hover {
            color: yellow;
            
        }

        .form-registro {
            width: 50%;
            margin: 30px auto;
        }
        .main-header-bottom {
            
            font-size: 100%;
            
            
        }
        .right-navbar {
            padding-right: 15px;
        }
        .linea2 {
            padding-right: 15px;
        }
        h2 {
            font-size: 2em;
        }
        
    }
    @media (min-width: 1000px) {
    .busq {
        margin-left: 15vw;

    }}
    

    